export(accProb)
export(optAttrPlan)
export(optVarPlan)
export(OCdata)
export(muEst)
S3method(accProb,AttrPlan)
S3method(accProb,VarPlan)
S3method(plot,AttrPlan)
S3method(plot,VarPlan)
S3method(summary,AttrPlan)
S3method(summary,VarPlan)
S3method(plot, OCdata)
# Importing necessary functions from other packages
importFrom("stats", "optim", "pbeta", "pbinom", "pnorm", "qnorm", "rbeta", "uniroot")
importFrom("stats", "pt")
importFrom("graphics", "abline", "grid")
importFrom("stats", "qbinom")
importFrom("methods", "new")