export(accProb)
export(optAttrPlan)
export(optVarPlan)
export(plotOC)
export(OCdata)
export(muEst)
S3method(accProb,AttrPlan)
S3method(accProb,VarPlan)
S3method(plotOC,AttrPlan)
S3method(plotOC,VarPlan)
S3method(summary,AttrPlan)
S3method(summary,VarPlan)
# Importing necessary functions from other packages
importFrom("stats", "optim", "pbeta", "pbinom", "pnorm", "qnorm", "rbeta", "uniroot")
importFrom("graphics", "abline", "grid")